<h1>Editing user stock</h1>

<%= render "form", user_stock: @user_stock %>

<br>

<div>
  <%= link_to "Show this user stock", @user_stock %> |
  <%= link_to "Back to user stocks", user_stocks_path %>
</div>
